.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px
}

.articleThumbnail{
width: 200px;
 border-radius: 15px;
 background-color: white;
 font-size: 1em;
 /* font-size: 3vw; */
}

.articleImage{
  width: 100%;
  border-radius: 5px;
}

#root{
background-color: #EFFBF9;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 20px; */
  font-style: normal;
  font-size: 100%;
}

.header{
  background-color: #264653;
  color: white;
  font-size: 2em;
  border-radius: 10px;
}

.buttonDesign{
  color:white;
  background-color: #DE541E;
   cursor: pointer;
  box-shadow: 5px 5px 5px #E9C46A;
  border : none;
  padding: 4px;
  border-radius: 5px;
}

/* 
@media screen and (min-width: 601px) {
  header {
    font-size: 80px;
  }
    articleThumbnail{
    font-size:40px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
/* @media screen and (max-width: 600px) {
  header {
    font-size: 30px;
  }
  articleThumbnail{
    font-size:20px;
  }
} */ 