
#root{
  background-color: #EFFBF9;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 20px; */
  font-style: normal;
  font-size: 100%;
  color: #264653;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.articleThumbnail{
 border-radius: 15px;
 background-color: white;
 font-size: 1em;
 width: 300px;
 list-style-type: none;
 display:grid;
 grid-template: auto auto auto auto/auto auto;
}

a:link{
  color: #264653;
  text-decoration: none;
}

a:visited{
  color: #264653;
}

.articleImage{
  width: 100%;
  border-radius: 5px;
  grid-area: 1/1/2/span 2;
}

.articleImageSingle{
  width:100%;
  border-radius: 5px;
}

.title{
   grid-area: 2/1/3/span 2;
}


h1{
  background-color: #264653;
  color:#DE541E;
  font-size: 2em;
  border-radius: 10px;
  text-align: center;
}

.buttonDesign{
  color:#264653;
  background-color: #2A9D8F;
  cursor: pointer;
  box-shadow: 5px 5px 5px #E9C46A;
  border : none;
  padding: 4px;
  border-radius: 5px;
  align-self: center;
}

/* 
@media screen and (min-width: 601px) {
  header {
    font-size: 80px;
  }
    articleThumbnail{
    font-size:40px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
/* @media screen and (max-width: 600px) {
  header {
    font-size: 30px;
  }
  articleThumbnail{
    font-size:20px;
  }
} */ 

#flex-header{
  display:flex;
  justify-content: space-around;
  gap: 20px;
  text-decoration: none;
}

.comment-card{
  border: 2px solid #2A9D8F;
  border-radius: 5px;
}

.comments-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 5px;
}