#root {
  background-color: #effbf9;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 20px; */
  font-style: normal;
  font-size: 100%;
  color: #264653;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
  justify-self:center;
}

.articleThumbnail {
  border-radius: 15px;
  background-color: white;
  font-size: 1em;
  width: auto;
  max-width: 280px;
  display: grid;
  grid-template: auto auto auto auto auto / auto auto;
  padding: 10px;
  border: 4px solid #2a9d8f;
}
.no-bullet-point{
  list-style-type: none;
  margin-right: 15px;
}

#thumbnail-date{
grid-column: 1/3;
}

.bold{
  font-weight: 500;
}

a:link {
  color: #264653;
  text-decoration: none;
}

a:visited {
  color: #264653;
}

.articleImage {
  width: 100%;
  border-radius: 5px;
  grid-area: 1/1/2 / span 2;
}

.single-page {
  max-width: 800px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.articleImageSingle {
  width: 100%;
  border-radius: 5px;
}

.title {
  grid-area: 2/1/3 / span 2;
  margin:2px;
}

.no-margin{
  margin: 4px;
}

h1 {
  color: #BBD0E3;
  text-align: center;
  font-size: 3rem;
}

.logo-and-title {
  background-color: #3A6B7E;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: centre;
  margin: 5px;
  padding: 5px;
}
select {
  background: #8EE1D7;
  color: #264653;
  border: 1px solid #264653;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.buttonDesign {
  color: #264653;
  background-color: #4ed0c1;
  cursor: pointer;
  box-shadow: 5px 5px 5px #e9c46a;
  border: 1px solid #264653;
  padding: 4px;
  border-radius: 5px;
  align-self: center;
  margin: 5px;
}

.buttonUsed {
  background-color: #595959;
 padding: 4px;
  border-radius: 5px;
  align-self: center;
  margin: 5px;
}

.buttonDesign:disabled {
  color: #e9c46a;
  background-color: #595959;
}

.comment-card {
  border: 2px solid #2a9d8f;
  border-radius: 5px;
  padding: 10px;
}

.comments-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 5px;
  list-style-type: none;
}

.inline-block {
  display: inline-block;
}

.hiddenButton {
  display: none;
}

.single-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.span-two-columns {
  grid-column: span 2;
}

.add-comment-form {
  margin: 10px;
}

.comment-valid {
  border-radius: 5px;
  border: 1px solid #264653;
  width:100%;
  height: 3rem;
}

.comment-invalid{
  border-radius: 5px;
  border: 1px solid red;
  width:100%;
  height: 3rem;
}

.flex-comments{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
}